# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Testing / Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDE / Text Editors
.vscode/
.idea/
